@import './reset.scss';
@import './fonts.scss';
@import './variables.scss';

* {
  cursor: url('@/assets/images/cursor.cur'), auto;
}

body {
  font-family: $MAIN_FONT;
  font-size: 1rem;
  background-color: $BLACK_COLOR_MAIN;
  font-weight: 300;
}

body::-webkit-scrollbar {
  display: none;
}

.noclick {
  pointer-events: none;
}

.btn-game {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: rgba(10, 10, 10, 0.7);
  border-radius: 0.2vw;
  font-weight: 500;
  font-size: 1.2vw;
  color: $WHITE_COLOR;
  transition: all 0.2s ease;

  &:hover {
    color: $GOLDEN_COLOR;
    background-color: $BLACK_COLOR_MAIN;
  }
}
